@charset "UTF-8";
.content {
  padding: 100px 0px 0px 0px;
}

.content_text {
  font-size: 1.5rem;
  line-height: 25px;
}

.content_text p {
  margin: 0px 0px 20px 0px;
}

@media (max-width: 767px) {
  .content {
    padding: 100px 0px 0px 0px;
  }
}
.header {
  width: 100%;
  position: fixed;
  font-size: 1.5rem;
  top: 0;
  left: 0;
  z-index: 50;
}
.header .header_body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #313D47;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.79);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.79);
  z-index: 2;
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}
.header_list li {
  margin: 0px 0px 0px 30px;
}

.header_link {
  color: white;
  font-size: 1.5rem;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.header_link:hover {
  color: #b6b5b5;
}

.header_logo {
  height: 50px;
  position: relative;
  z-index: 3;
}
.header_logo img {
  max-height: 100%;
  max-width: 100%;
}

.header_button {
  word-wrap: normal;
  font-size: 1.5rem;
  max-width: 180px;
  padding: 10px 30px;
  margin-left: 30px;
  background: #ECAD2F;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.header_button:hover {
  background: #D49B2A;
}

.header_burger {
  display: none;
  right: 0;
}

a.header_button {
  text-decoration: none;
  color: black;
  margin: 0;
}

a.header_button:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header_burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  /* используя псевдоэлементы рисуем бургер */
  .header_burger::before,
.header_burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
  .header_burger::before {
    top: 0;
  }
  .header_burger::after {
    bottom: 0;
  }
  .header_burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
  .header_burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header_burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header_burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header_menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: rgba(92, 92, 92, 0.97);
    -webkit-box-shadow: -5px 4px 8px rgba(0, 0, 0, 0.25);
            box-shadow: -5px 4px 8px rgba(0, 0, 0, 0.25);
    padding: 100px 10px 0px 10px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow: auto;
  }
  .header_menu.active {
    top: 0px;
    right: 0;
  }
  .header_body {
    height: 50px;
  }
  .header_list {
    display: block;
  }
  .header_list li {
    margin: 0px 0px 27px 0px;
  }
  a.header_button {
    word-wrap: normal;
    font-size: 1.7rem;
    max-width: 180px;
    color: #ECAD2F;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0px;
  }
  a.header_button:hover {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0px;
    color: #D49B2A;
  }
  .header_link {
    font-size: 1.7rem;
  }
}