.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(146, 146, 146, 0.734);
  z-index: 50;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  display: none;
}

.bg {
  width: 100%;
  background-color: #313D47;
}

.modal-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  background-color: white;
  border-radius: 24px;
  padding: 15px 20px 15px 20px;
}

.modal-dialog img {
  margin: auto;
  max-width: 70%;
  height: auto;
}

.modal-dialog-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-dialog-header h4 {
  color: #313D47;
  size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding-left: 10%;
  width: auto;
  display: inline-block;
}

.modal-dialog-header span {
  padding-right: 10%;
  padding-left: 10%;
  font-weight: 700;
}

.text {
  margin-top: -20px;
  padding-bottom: 24px;
}

.amount button {
  background-color: #ECAD2F;
  width: 50px;
  border-radius: 8px;
}

.amount #minus:hover {
  background-color: #D49B2A;
}

.amount #plus:hover {
  background-color: #D49B2A;
}

.amount input {
  width: 50px;
  text-align: center;
}

.cost span {
  color: #313D47;
}

.into-cart {
  height: 50px;
  width: 300px;
  margin: 20px auto 10px auto;
  text-align: center;
  size: 1.5rem;
  padding-top: 10px;
  background-color: #ECAD2F;
  border-radius: 16px;
}

.into-cart:hover {
  background-color: #D49B2A;
}

@media (max-width: 670px) {
  .into-cart {
    width: 200px;
  }

  .modal-dialog {
    width: 60%;
  }
}

@media (max-width: 530px) {
  .into-cart {
    height: 40px;
    padding-top: 5px;
  }

  .modal-dialog {
    width: 80%;
  }
}


@media (max-width: 530px) {
  .amount input {
    width: 30px;
    text-align: center;
  }

  .amount button {
    /* background-color: #ECAD2F; */
    width: 30px;
    /* border-radius: 8px; */
  }
}

@media (max-width: 300px) {
  .amount input {
    width: 25px;

  }

  .amount button {
    /* background-color: #ECAD2F; */
    width: 25px;
    /* border-radius: 8px; */
  }

  .modal-dialog {
    width: 90%;
  }

  .into-cart {
    width: 150px;
  }
}