@import "./reset.css";

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px 20px;
}

* {
    font-family: 'Rubik';
    /* size: 7; */
    font-weight: 300;
    line-height: 1.7;
    /* font-size: 1.5rem; */
    /* color: #555; */
}

@media (max-width: 767px) {

    html,
    body {
        font-size: small;
    }
}

@media (max-width: 490px) {

    html,
    body {
        font-size: smaller;
    }
}

/* написать брейк поинт для размера шрифта, так как все в рем */