@import './variables.scss';

// ПОменять потом фонт сайз на 1.5 - после прописания брейкпоитов в стилецсс
footer {
    min-height: 350px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    bottom: 0;
    left: 0;
    margin: 0;
    position: relative;
}

.footer_body {
    display: flex;
    justify-content: space-between;
    /* // выравниваем контент по горизонтали */
    align-items: flex-start;
    height: 80%;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: auto;
    gap: 20px;

    a {
        color: $yellow_active;
    }

    a:hover {
        color: $yellow_inactive;
    }
}

.social_media {
    height: auto;
    margin-right: 10px;
}

.about_us_info {
    width: 33%;
}

.contact_info {
    width: 33%;
}

footer h4 {
    font-weight: bold;
    margin: 10px 0px
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #ECAD2F;
}

footer a :hover {
    color: #ECAD2F;
}

.footer_link {
    display: block;
    margin: 0;
    height: 50px;
    width: 50px;
    gap: 10px;
}

.footer_link img {
    max-height: 100%;
    max-width: 100%;
}

.links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    // height: 800px;
    row-gap: 10px;
    column-gap: 7px;

}

@media (max-width: 767px) {
    footer {
        font-size: 1.5rem;
        height: 400px;
    }

    .about_us_info {
        width: 45%;
    }

    .footer_body {
        height: 90%;
        flex-wrap: wrap;
        flex-grow: 0;
        justify-content: space-between;
        width: 90%;
    }

    .social_media {
        width: auto;
        order: 1;
        margin-bottom: 10px;
    }

    .contact_info {
        width: auto;
    }

    .footer_link {
        margin: 0;
        height: 40px;
        width: 40px;
    }

}

@media (max-width: 514px) {
    .footer_link {
        margin: 0;
        height: 30px;
        width: 30px;
    }

    .social_media {
        width: auto;
    }

    // ПОменять потом фонт сайз на 1.5 - после прописания брейкпоитов в стилецсс
    footer {
        font-size: 1.3rem;
        height: 540px;
        padding-bottom: 20px;
    }

    .about_us_info {
        width: auto;
    }

    .footer_body {
        height: 90%;
        flex-wrap: wrap;
        flex-grow: 0;
        justify-content: space-around;
        width: 90%;
        // position: absolute;
        // bottom: 10px;
    }

    .social_media {
        width: auto;
        order: 1;
    }

    .contact_info {
        width: auto;
    }

    .footer_link {
        margin: 0;
        height: 40px;
        width: 40px;
    }

    .footer_body {
        height: 90%;
        flex-wrap: wrap;
        flex-grow: 0;
        justify-content: space-between;
        width: 90%;
    }

    .social_media {
        width: auto;
    }

    .contact_info {
        width: auto;
    }

    .footer_link {
        margin: 0;
        height: 40px;
        width: 40px;
    }
}