@import './variables.scss';

// первый блок кода - первая секция и адаптив
// - слоган
// - картинки бургеров
section.banner {
    width: 100%;
    height: 710px;
    background-color: $blue;
    // position: relative;
    // background-color: #303c47;
}

.banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    // height: 130%;
    // расчет из соображений отступов в блоке контент
    height: 710px+100px;
    width: 100%;
    background-color: $blue;
    // z-index: 10;
    color: white;

    h1 {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        // font-size: 36px;
        font-size: 2.3rem;
        line-height: 59px;
        // display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 10%;
        padding-left: 10px;
        padding-right: 10px;

        span {
            color: $yellow_active;
            font-weight: inherit;
        }
    }

    img {
        // height: 560px;
        // background-image: url("../img/main/threeburgers.webp");
        height: 70%;
        width: auto;
        display: block;
        margin: auto;
        position: relative;
        z-index: 1;
        transition: all 0.4s ease-in;
    }

    .banner-bg-floor {
        width: 100%;
        height: 30%;
        position: absolute;
        // top: 100%;
        bottom: -1px;
        left: 0;
        background-color: white;
        z-index: 0;
    }

}

@media (max-width: 882px) {

    section.banner {
        height: 662px;
    }

    .banner-bg {
        height: 662px+100px;

        img {
            height: 500px;
        }

        h1 {
            margin-top: 15%;
        }

        .banner-bg-floor {
            height: 25%;
        }

    }
}

@media (max-width: 767px) {

    section.banner {
        height: 602px;
    }

    .banner-bg {
        height: 602px+100px;

        img {
            height: 400px;
        }

        h1 {
            margin-top: 16%;
        }

        .banner-bg-floor {
            height: 30%;
            bottom: -2px;
        }

    }
}

@media (max-width: 620px) {

    section.banner {
        height: 500px;
    }

    .banner-bg {
        height: 500px+100px;

        img {
            height: 300px;
        }

        h1 {
            margin-top: 15%;
            font-size: 2rem;
        }

        .banner-bg-floor {
            height: 35%;
            bottom: -2px;
        }
    }
}

@media (max-width: 490px) {

    section.banner {
        height: 450px;
    }

    .banner-bg {
        height: 450px+100px;

        img {
            height: 230px;
        }

        h1 {
            margin-top: 25%;
            font-size: 1.7rem;
        }

        .banner-bg-floor {
            height: 35%;
            bottom: -2px;
        }
    }
}

// вторая секция кода и адаптив
// - листики + анимация
// - слоган
// - карточки с бургерами 
section.short-menu {
    width: 100%;
    min-height: 910px;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;

    h1 {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 59px;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 5%;
        padding-left: 10px;
        padding-right: 10px;
        color: $blue;

        span {
            color: $yellow_active;
            font-weight: inherit;

        }
    }

    a,
    a:link,
    a:visited {
        text-decoration: none;
        color: black;
    }
}




.lettuce1 {
    background-image: url("../img/main/Lettuce-left.png");
    display: block;
    width: 320px;
    height: 410px;
    position: absolute;
    left: -5px;
    background-position: top right;
    margin-top: -5%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in;
}

.lettuce2 {
    background-image: url("../img/main/Lettuce-right1.png");
    display: block;
    width: 300px;
    height: 447px;
    position: absolute;
    right: 0;
    margin-top: -10%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.5s ease-out;
}

@media (max-width: 1200px) {
    .lettuce1 {

        width: 240px;
        height: 285px;

    }

    .lettuce2 {

        width: 230px;
        height: 280px;
    }
}

@media (max-width: 1075px) {
    .lettuce1 {

        // width: 140px;
        // height: 185px;
        margin-top: 10%;
    }

    .lettuce2 {
        margin-top: -20%;
        // width: 180px;
        // height: 180px;
    }
}


@media (max-width: 882px) {
    .lettuce1 {
        width: 140px;
        height: 165px;
    }

    .lettuce2 {
        width: 180px;
        height: 260px;
    }
}

@media (max-width: 670px) {
    .lettuce1 {
        width: 90px;
        height: 105px;
        margin-top: 10%;
    }

    .lettuce2 {
        width: 100px;
        height: 100px;
        margin-top: -20%;
    }

    section.short-menu {
        h1 {
            font-size: 2rem;
        }
    }
}

@media (max-width: 490px) {
    .lettuce1 {
        width: 90px;
        height: 105px;
        margin-top: 15%;
    }

    .lettuce2 {
        width: 100px;
        height: 100px;
        margin-top: -40%;
    }

    section.short-menu {
        h1 {
            font-size: 1.7rem;
        }
    }
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
    justify-content: space-between;
}

.item {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    float: left;
    padding: 75px 5px 0px 5px;
    position: relative;
    width: 100%;


    img {
        display: block;
        margin: auto;
    }

    h3 {
        margin-top: -15px;
        margin: -15px auto 5px auto;
        font-size: 1.6rem;
        text-align: center;
        font-weight: 700;
    }

    .discr {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 10px;
        height: 180px;
    }

}

.seemore {
    bottom: 0;
    color: $white_inactive;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;

}

.seemore:hover {
    color: $yellow_active;

}

@media (max-width: 1200px) {
    .item {
        flex: 0 0 49%;
        max-width: 49%;

        .discr {
            height: 140px;
        }
    }

}

@media (max-width: 800px) {
    .item {

        .discr {
            height: 180px;
        }
    }

}

@media (max-width: 620px) {
    .menu-items {
        margin-top: 30px;
    }

    .item {
        flex: 0 0 100%;
        max-width: 100%;

        h3 {
            margin-top: -10px;
            margin: -10px auto 5px auto;
            font-size: 1.8rem;
        }

        .discr {
            font-size: 1.6rem;
            height: auto;
        }
    }

    .seemore {
        font-size: 1.6rem;
    }
}

.short-menu2 {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    color: white;

    h1 {
        color: white;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 59px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-left: 10px;
        padding-right: 10px;

        padding-top: 10%;

        span {
            color: $yellow_active;
            font-weight: inherit;
        }

    }

    .seemore:hover {
        color: $yellow_inactive;
    }

    a,
    a:link,
    a:visited {
        text-decoration: none;
        color: white;
    }
}

.tomato1 {
    background-image: url("../img/main/tomato.png");
    display: block;
    width: 320px;
    height: 330px;
    position: absolute;
    left: 10px;
    background-position: top right;
    margin-top: -10%;
    background-size: contain;
    // padding-top: 20px;
    background-repeat: no-repeat;
    transition: all 0.8s linear;
}

.tomato2 {
    background-image: url("../img/main/tomato.png");
    display: block;
    width: 320px;
    height: 330px;
    position: absolute;
    right: 15px;
    background-position: top right;
    margin-top: -40%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.8s linear;
    display: none;
}

.short-menu2-bg {
    width: 100%;
    background-color: $blue;
}

@media (max-width: 490px) {

    .short-menu2 {
        h1 {
            font-size: 1.7rem;
        }
    }
}

@media (max-width: 670px) {

    .short-menu2 {
        h1 {
            font-size: 2rem;
        }
    }
}


@media (max-width: 1201px) {
    .tomato1 {
        display: none;
    }

    .tomato2 {
        display: block;
    }
}

@media (max-width: 1110px) {
    .tomato2 {
        margin-top: -50%;
    }
}

@media (max-width: 620px) {
    .tomato2 {
        display: none;
    }
}

@media (max-width: 767px) {
    .tomato2 {
        width: 260px;
        height: 280px;
    }
}